---
import NewsCard from "@/components/blocks/NewsCard.astro";
import Pagination from "@/components/blocks/Pagination.astro";
import config from "@/config.json";
import Main from "@/layouts/Main.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/components/blocks/PageHeader.astro";
import PostSidebar from "@/components/blocks/PostSidebar.astro";

const NEWS_FOLDER = "news";

const posts = await getSinglePage(NEWS_FOLDER);
const allCategories = await getAllTaxonomy(NEWS_FOLDER, "categories");
const categories = await getTaxonomy(NEWS_FOLDER, "categories");
const tags = await getTaxonomy(NEWS_FOLDER, "tags");
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);

// Attributes
const content = { title: "News" };
---

<Main content={content}>
  <PageHeader title={content.title} />
  <section class="mx-auto grid max-w-7xl grid-cols-5 gap-6 p-6 pb-24 xl:gap-16">
    <div class="col-span-4 mx-auto">
      <div class="row gx-5">
        <!-- News posts -->
        <div class="lg:col-8">
          <div class="row">
            {
              currentPosts.map((post) => (
                <div class="slide-fade-in mb-14 md:col-12">
                  <NewsCard data={post} />
                </div>
              ))
            }
          </div>
          <Pagination
            section={NEWS_FOLDER}
            currentPage={1}
            totalPages={totalPages}
          />
        </div>
      </div>
    </div>
    <!-- sidebar -->
    <div class="col-span-1">
      <PostSidebar
        categories={categories}
        tags={tags}
        allCategories={allCategories}
        ca
      />
    </div>
  </section>
</Main>
