---
import config from "@/config.json";

import { Image } from "astro:assets";

import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaUserPen, FaClock, FaFolderClosed } from "react-icons/fa6";

import Button from "@/components/ui-astro/Button.astro";

// Properties
const {
  summary_length,
  news_folder,
}: { summary_length: number; news_folder: string } = config.settings;

const { data } = Astro.props;
const { title, description, image, date, authors, tags } = data.data;
const patternId = `pattern-${data.id}`;
---

<article
  class="group hover:border-primary hover:bg-primary/10 relative isolate grid grid-cols-1 gap-6 overflow-hidden rounded-xl border-2 p-6 hover:[box-shadow:_var(--sh-alt)] md:grid-rows-[1fr_1fr]"
>
  <!-- SVG background pattern on hover -->
  <svg
    class="text-primary pointer-events-none invisible absolute inset-0 z-[-1] size-full [mask-image:linear-gradient(to_left,_#ffffffad,_transparent)] opacity-100 select-none group-hover:visible dark:opacity-80"
  >
    <defs>
      <pattern
        id={patternId}
        width="4"
        height="4"
        patternUnits="userSpaceOnUse"
        patternTransform="rotate(45)"
      >
        <line
          x1="0"
          y1="0"
          x2="0"
          y2="4"
          stroke="currentColor"
          stroke-width="1.5"></line>
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill={`url(#${patternId})`}></rect>
  </svg>

  <!-- Image Column -->
  {
    image && (
      <a
        class="relative h-48 overflow-hidden rounded-lg md:h-56"
        href={`/${news_folder}/${data.id}`}
      >
        <Image
          class="h-full w-full object-cover"
          src={image?.src}
          alt={title}
          width={445}
          height={230}
          format="webp"
        />
      </a>
    )
  }

  <!-- Content Column -->
  <div class="flex flex-col justify-between">
    <div>
      <header class="mb-2">
        <h3 class="group-hover:text-primary text-xl font-bold">
          <a href={`/${news_folder}/${data.id}`} class="inline-block">
            {title}
          </a>
        </h3>
      </header>

      <div class="mb-4 flex flex-col gap-2 text-sm">
        <!-- Time and Author-->
        <div class="flex flex-wrap gap-4">
          {
            date && (
              <div class="flex items-center">
                <FaClock className="mr-2 flex-shrink-0" />
                <time class="text-2xs flex flex-wrap gap-2 font-mono">
                  {dateFormat(date)}
                </time>
              </div>
            )
          }
          <!-- Author -->
          <div class="flex items-center">
            <FaUserPen className="mr-2 flex-shrink-0" />
            <a href={`/people/${slugify(authors)}`} class="hover:text-primary">
              {"ahmad-bukhari"}
            </a>
          </div>
        </div>
        <!-- tags -->
        {
          tags?.length > 0 && (
            <div class="flex items-center text-sm">
              <FaFolderClosed className="mr-2 flex-shrink-0" />
              <div class="flex flex-wrap gap-1">
                {tags.map((category: string, index: number) => (
                  <>
                    <a
                      href={`/tags/${slugify(category)}`}
                      class="hover:text-primary"
                    >
                      {humanize(category)}
                    </a>
                    {index < tags.length - 1 && (
                      <span class="opacity-60">||</span>
                    )}
                  </>
                ))}
              </div>
            </div>
          )
        }
      </div>

      <div class="border-t pl-2 md:col-span-1 md:pl-6">
        <p class="mt-2 mb-4 line-clamp-3">
          {plainify(data.body?.slice(0, Number(summary_length))) + "..."}
        </p>
      </div>
    </div>

    <div class="space-y-4">
      <Button
        variant="default"
        href={`/${news_folder}/${data.id}`}
        className="bg-primary/60"
      >
        Read More
      </Button>
    </div>
  </div>
</article>
