---
import config from "@/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaUserPen, FaClock, FaFolderClosed } from "react-icons/fa6";
import { Image } from "astro:assets";

import Button from "@/components/ui-astro/Button.astro";

const {
  summary_length,
  news_folder,
}: { summary_length: number; news_folder: string } = config.settings;

const { data } = Astro.props;
const { title, description, image, date, authors, tags } = data.data;
---

<article
  class="outline-primary relative grid grid-cols-1 gap-6 overflow-hidden rounded-3xl border-2 p-6 hover:outline-2 md:grid-cols-[1fr_2fr]"
>
  <!-- Image Column -->
  {
    image && (
      <a
        class="relative h-48 overflow-hidden rounded-lg md:h-56"
        href={`/${news_folder}/${data.id}`}
      >
        <Image
          class="h-full w-full object-cover"
          src={image?.src}
          alt={title}
          width={445}
          height={230}
          format="webp"
        />
      </a>
    )
  }

  <!-- Content Column -->
  <div class="flex flex-col justify-between">
    <div>
      <header class="mb-2">
        <h3 class="hover:text-primary text-xl font-bold transition-colors">
          <a href={`/${news_folder}/${data.id}`} class="inline-block">
            {title}
          </a>
        </h3>
      </header>

      <div class="mb-4 flex flex-wrap gap-4 text-sm">
        <!-- Time -->
        {
          date && (
            <div class="flex items-center">
              <FaClock className="mr-2 flex-shrink-0" />
              <time class="flex flex-wrap gap-2">{dateFormat(date)}</time>
            </div>
          )
        }
        <!-- Author -->
        <div class="flex items-center">
          <FaUserPen className="mr-2 flex-shrink-0" />
          <a href={`/people/${slugify(authors)}`} class="hover:text-primary">
            {"ahmad-bukhari"}
          </a>
        </div>

        <!-- tags -->
        {
          tags?.length > 0 && (
            <div class="flex items-center">
              <FaFolderClosed className="mr-2 flex-shrink-0" />
              <div class="flex flex-wrap gap-2">
                {tags.map((category: string) => (
                  <a
                    href={`/tags/${slugify(category)}`}
                    class="hover:text-primary"
                  >
                    {humanize(category)}
                  </a>
                ))}
              </div>
            </div>
          )
        }
      </div>

      <div class="border-t pl-2 md:col-span-1 md:pl-6">
        <p class="mt-2 mb-4 line-clamp-3">
          {plainify(data.body?.slice(0, Number(summary_length))) + "..."}
        </p>
      </div>
    </div>

    <div class="space-y-4">
      <Button
        variant="default"
        href={`/${news_folder}/${data.id}`}
        className="bg-primary/60"
      >
        Read More
      </Button>
    </div>
  </div>
</article>
