---
import { humanize } from "@/lib/utils/textConverter";

const { tags, categories, allCategories, allTags } = Astro.props;
---

<aside class="lg:col-4">
  <div
    class="dark:shadow-primary/20 relative overflow-hidden rounded-3xl border-2 p-8 shadow-xl"
  >
    <!-- categories -->
    <div class="mb-4">
      <a class="hover:text-primary mb-2" href={`/categories`}>Categories</a>
      <div class="border-t pl-4 md:col-span-1 md:pl-2">
        <ul class="space-y-4">
          {
            categories.map((category: any) => {
              const count = allCategories.filter(
                (c: any) => c === category,
              ).length;
              return (
                <li>
                  <a
                    class="hover:text-primary flex justify-between transition-colors"
                    href={`/categories/${category}`}
                  >
                    {humanize(category)} <span>({count})</span>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
    <!-- tags -->
    <div class="mt-4">
      <a class="hover:text-primary mb-10" href={`/tags`}>Tags</a>
      <div class="border-t-2 pl-4 md:col-span-1 md:pl-2">
        <ul>
          {
            tags.map((tag: any) => {
              const count = allTags.filter((c: any) => c === tag).length;
              return (
                <li>
                  <a
                    class="hover:text-primary flex justify-between transition-colors"
                    href={`/tags/${tag}`}
                  >
                    {humanize(tag)} <span>({count})</span>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </div>
</aside>
