---
import { humanize } from "@/lib/utils/textConverter";

const { categories, tags, allCategories, allTags, activeCategory, activeTag } =
  Astro.props;

// Define active link classes (same as SideBar.astro)
const activeLinkClasses =
  "border-primary/50 bg-primary/5 dark:border-primary/40 dark:bg-primary/12 text-primary";
---

<nav class="sticky top-24 pt-0">
  <!-- Categories -->
  <div
    class="font-trajan text-primary border-b px-0 py-2.5 text-center lg:border-b-0 lg:border-l lg:px-2.5 lg:text-left"
  >
    Categories
  </div>
  <ul class="flex overflow-x-auto lg:flex-col">
    {
      categories.map((category: string) => {
        const count = allCategories.filter((c: any) => c === category).length;
        const isActive = category === activeCategory;

        return (
          <li class="flex w-full flex-1">
            <a
              href={`/categories/${category}`}
              class:list={[
                "lg-py-1 hover:bg-primary/5 dark:hover:bg-primary/12 flex w-full shrink-0 justify-between border-b p-2.5 text-center text-nowrap focus-visible:[outline-offset:-4px]! lg:border-b-0 lg:border-l lg:px-4 lg:text-left",
                isActive ? activeLinkClasses : "",
              ]}
            >
              {humanize(category)} <span>({count})</span>
            </a>
          </li>
        );
      })
    }
  </ul>

  <!-- Tags -->
  <div
    class="font-trajan text-primary mt-6 border-b px-0 py-2.5 text-center lg:border-b-0 lg:border-l lg:px-2.5 lg:text-left"
  >
    Tags
  </div>
  <ul class="flex overflow-x-auto text-sm lg:flex-col">
    {
      tags.map((tag: string) => {
        const count = allTags.filter((t: any) => t === tag).length;
        const isActive = tag === activeTag;

        return (
          <li class="flex w-full flex-1">
            <a
              href={`/tags/${tag}`}
              class:list={[
                "lg-py-1 hover:bg-primary/5 dark:hover:bg-primary/12 flex w-full shrink-0 justify-between border-b p-2.5 text-center text-nowrap focus-visible:[outline-offset:-4px]! lg:border-b-0 lg:border-l lg:px-4 lg:text-left",
                isActive ? activeLinkClasses : "",
              ]}
            >
              {humanize(tag)} <span>({count})</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
