---
import { humanize } from "@/lib/utils/textConverter";

const { tags, categories, allCategories } = Astro.props;
---

<aside class="lg:col-4">
  <!-- categories -->
  <div
    class="dark:shadow-primary/20 relative overflow-hidden rounded-3xl border-2 p-8 shadow-xl"
  >
    <div class="mb-8">
      <a class="hover:text-primary mb-6" href={`/categories`}>Categories</a>
      <div class="border-t p-4 pl-2 md:col-span-1 md:pl-6">
        <ul class="space-y-4">
          {
            categories.map((category: any) => {
              const count = allCategories.filter(
                (c: any) => c === category,
              ).length;
              return (
                <li>
                  <a
                    class="hover:text-primary flex justify-between transition-colors"
                    href={`/categories/${category}`}
                  >
                    {humanize(category)} <span>({count})</span>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
    <!-- tags -->
    <div class="mb-8">
      <a class="hover:text-primary mb-6" href={`/tags`}>Tags</a>
      <div class="border-t p-4 pl-2 md:col-span-1 md:pl-6">
        <ul>
          {
            tags.map((tag: any) => {
              return (
                <li class="inline-block">
                  <a
                    class="hover:text-primary flex justify-between transition-colors"
                    href={`/tags/${tag}`}
                  >
                    {humanize(tag)}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </div>
</aside>
