---
import { Image } from "astro:assets";
import { cn } from "@/lib/utils.ts";

// Props
const { name, title, image, href, className } = Astro.props;

// Generate a unique ID for the SVG pattern based on the name
const sanitizedName = name
  .toLowerCase()
  .replace(/[^a-z0-9\s]/g, "")
  .replace(/\s+/g, "-");
const patternId = `pattern-speaker-${sanitizedName}`;

// Use <a> tag only if href is provided
const ImageWrapper = href ? "a" : "div";
const TitleWrapper = href ? "a" : "span";
---

<article
  class={cn(
    // Base styles and hover effects from AuthorCard
    "group hover:border-primary bg-background relative isolate grid grid-cols-1 gap-6 overflow-hidden rounded-xl border-2 p-6 hover:[box-shadow:_var(--sh-alt)] hover:-translate-y-3 transition-transform duration-100",
    className,
  )}
>
  <svg
    class="text-primary pointer-events-none invisible absolute inset-0 z-[-1] size-full [mask-image:linear-gradient(to_left,_#ffffffad,_transparent)] opacity-100 select-none group-hover:visible dark:opacity-80"
  >
    <defs>
      <pattern
        id={patternId}
        width="4"
        height="4"
        patternUnits="userSpaceOnUse"
        patternTransform="rotate(45)"
      >
        <line
          x1="0"
          y1="0"
          x2="0"
          y2="4"
          stroke="currentColor"
          stroke-width="1.5"></line>
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill={`url(#${patternId})`}></rect>
  </svg>

  {
    image && (
      <ImageWrapper
        class="relative h-64 overflow-hidden rounded-lg md:h-48"
        href={href}
      >
        <Image
          class="size-full object-cover"
          src={image.src}
          alt={image.alt ?? name}
          width={445}
          height={230}
          format="webp"
        />
      </ImageWrapper>
    )
  }

  <div class="flex flex-col justify-between text-center">
    <div>
      <header class="mb-2">
        <h2 class="group-hover:text-primary text-md font-bold">
          <TitleWrapper href={href} class="inline-block">
            <span>{name}</span>
          </TitleWrapper>
        </h2>
        <h3 class="mt-2 border-t pt-2 text-sm font-light">
          {title}
        </h3>
      </header>
    </div>
  </div>
</article>
