---
import NewsCard from "@/components/blocks/NewsCard.astro";
import Pagination from "@/components/blocks/Pagination.astro";
import config from "@/config.json";
import Main from "@/layouts/Main.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/components/blocks/PageHeader.astro";
import PostSidebar from "@/components/blocks/PostSidebar.astro";
import NewsList from "@/components/blocks/NewsList.astro";

import { type Post } from "@/components/blocks/NewsList.astro";

const NEWS_FOLDER = "news";
const posts = await getSinglePage(NEWS_FOLDER);

const allCategories = await getAllTaxonomy(NEWS_FOLDER, "categories");
const allTags = await getAllTaxonomy(NEWS_FOLDER, "tags");
const categories = await getTaxonomy(NEWS_FOLDER, "categories");
const tags = await getTaxonomy(NEWS_FOLDER, "tags");
const sortedPosts: Post[] = sortByDate(posts);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);

// Attributes
const content = { title: "News" };
---

<Main content={content} makara>
  <PageHeader title={content.title} />

  <!-- News posts cards -->
  <section class="mx-auto max-w-6xl p-6 xl:gap-16">
    <div class="grid h-fit gap-4 lg:grid-cols-2">
      {
        currentPosts.map((post) => (
          <div class="slide-fade-in col-span-1 mb-6">
            <NewsCard data={post} />
          </div>
        ))
      }
    </div>
  </section>
  <!-- News posts lists -->
  <section
    class="mx-auto grid max-w-6xl grid-cols-1 gap-6 p-2 pb-24 lg:grid-cols-5 xl:gap-16"
  >
    <!-- sidebar -->
    <!-- <div class="lg:col-span-1">
      <PostSidebar
        categories={categories}
        tags={tags}
        allCategories={allCategories}
        allTags={allTags}
      />
    </div> -->
    <!-- News List  -->
    <div class="lg:col-span-5">
      <NewsList posts={sortedPosts} />
    </div>
  </section>
</Main>
