---
import Logo from "@/components/blocks/Logo.astro";
import { Image } from "astro:assets";
import DynamicIcon from "@/components/blocks/DynamicIcon.tsx";
import type { HTMLAttributes } from "astro/types";

interface Link extends HTMLAttributes<"a"> {
  text?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const {
  socialLinks = [],
  secondaryLinks = [],
  links = [],
  footNote = "",
} = Astro.props;
---

<footer id="site-header" class="relative w-screen">
  <div
    class="bg-primary/20 pointer-events-none absolute inset-0"
    aria-hidden="true"
  >
  </div>
  <div
    class="relative mx-3 flex h-full grow flex-col border-x border-transparent md:mx-8 lg:mx-12"
  >
    <!-- Main section -->
    <div
      class:list={[
        "relative w-full max-w-5xl self-center px-6",
        "grid grid-cols-12 gap-4 gap-y-8 py-8 sm:gap-8 md:py-12",
        "intersect-once intersect-quarter intercept-no-queue motion-safe:md:intersect:animate-fade-in motion-safe:md:opacity-0",
      ]}
    >
      <!-- Logo and secondary links column-->
      <div
        class="border-b-kuning text-foreground col-span-12 pb-5 lg:col-span-4"
      >
        <Image
          src="/images/Logo-landscape-black.png"
          alt="Company Logo"
          width={250}
          height={250}
          class="-ml-2 hidden py-2 transition-transform duration-300 hover:scale-105 dark:block"
        />
        <Image
          src="/images/Logo-landscape-white.png"
          alt="Company Logo"
          width={250}
          height={250}
          class="-ml-2 py-2 transition-transform duration-300 hover:scale-105 dark:hidden"
        />

        <div class="flex gap-1 text-sm">
          {
            secondaryLinks.map(({ text, href }, index) => (
              <>
                {index !== 0 ? " · " : ""}
                <a
                  class="flex underline decoration-black/20 underline-offset-4 hover:decoration-black dark:decoration-white/50 dark:hover:decoration-white"
                  href={href}
                  target="_blank"
                  rel="noopener noreferrer"
                  set:html={text}
                />
              </>
            ))
          }
        </div>
      </div>
      <!-- Main links column -->
      {
        links.map(({ title, links }) => (
          <div class="text-foreground col-span-6 md:col-span-3 lg:col-span-2">
            <div class="mb-3 font-medium text-pretty">{title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href, target, rel, ariaLabel }) => (
                  <li class="mb-2">
                    <a
                      class="underline decoration-black/20 underline-offset-4 hover:decoration-black dark:decoration-white/50 dark:hover:decoration-white"
                      target={target}
                      rel={rel}
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>

    <!-- Dot accessories -->
    <!-- <div
      class="bg-background border-primary absolute -top-1 -left-1 z-10 h-2 w-2 rotate-45 border"
    >
    </div>
    <div
      class="bg-background border-primary absolute -top-1 -right-1 z-10 h-2 w-2 rotate-45 border"
    >
    </div> -->
  </div>
  <!-- Bottom section -->
  <div
    class="bg-primary text-background w-full px-6 py-2 md:flex md:items-center md:justify-between"
  >
    {
      socialLinks?.length ? (
        <ul class="mb-2 -ml-2 flex md:order-1 md:mb-0 md:ml-4 rtl:-mr-2 rtl:ml-0 rtl:md:mr-4 rtl:md:ml-0">
          {socialLinks.map(({ ariaLabel, href, text, icon }) => (
            <li>
              <a
                class="inline-flex items-center rounded-lg p-2.5 text-sm hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 focus:outline-none dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                aria-label={ariaLabel}
                href={href}
              >
                {icon && <DynamicIcon icon={icon} className="h-5 w-5 mx-1" />}
                <Fragment set:html={text} />
              </a>
            </li>
          ))}
        </ul>
      ) : (
        ""
      )
    }
    <div class="text-sm">
      <Fragment set:html={footNote} />
    </div>
  </div>
</footer>
