---
import config from "@/config.json";
import { Image } from "astro:assets";
import logoChamps from "@/assets/logoChamps.png";
import logoUniv from "@/assets/logoUniversitasIndonesia.svg";
import logoUnivDark from "@/assets/logoUniversitasIndonesiaDark.svg";

interface logoProps {
  logo: string;
  logo_darkmode: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
}

const {
  loading,
}: {
  loading?: "eager" | "lazy" | null | undefined;
} = Astro.props;

const { logo, logo_darkmode, logo_width, logo_height, logo_text, title } =
  config.site as logoProps;

const { theme_switcher }: { theme_switcher: boolean } = config.settings;
---

<div class="flex flex-nowrap justify-between text-center align-middle">
  <a href="/" class="inline-flex">
    {
      logo || logo_darkmode ? (
        <>
          <Image
            src={logoUniv}
            class={`inline-block py-1 ${theme_switcher && "dark:hidden"}`}
            width={logo_width.replace("px", "")}
            height={logo_height.replace("px", "")}
            alt={title}
            loading={loading}
          />
          {theme_switcher && (
            <Image
              src={logoUnivDark}
              class={"hidden py-1 dark:inline-block"}
              width={logo_width.replace("px", "")}
              height={logo_height.replace("px", "")}
              alt={title}
              loading={loading}
            />
          )}
        </>
      ) : logo_text ? (
        logo_text
      ) : (
        title
      )
    }
    <div
      class="font-trajan border-ungu ml-6 inline-flex flex-col justify-center border-l-5 px-2 pt-1 dark:border-[#717171]"
    >
      <span class="text-foreground/30 self-start text-xs dark:text-white/30">
        FKM
      </span>
      <span class="-mt-1 self-start text-lg">CHAMPS</span>
    </div>
  </a>
</div>
